.cafes {
  /*width: 90%;*/
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); /* 최소 너비 15rem로 조정 */
  grid-gap: 2.5rem;
  margin:0 auto;
  list-style: none;
  padding: 0;
}