
.container {
    width: 100%;
    min-height: calc(-5rem + 100vh);
    font-family: sans-serif;
    /*background: #5a4031;*/
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}

.heroSection {
    position: relative;
    width: 100%;
    /*height: 600px;*/
    display: flex;
    padding: 1rem 10%;
    /*background: #b89b84;*/
}

.leftSide {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
}

.coffeeCupWrapper {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.title {
    font-size: 2rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Lora', serif;

}

.highlight {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(90deg, #f9572a, #ff8a05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtext {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
    font-family: 'Lora', serif;

}

.communityText {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-family: 'Lora', serif;
}

.ctaButtons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.ctaOutline {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border: 2px solid #9b6f5f;
    border-radius: 4px;
    color: #9b6f5f;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s, color 0.3s;
}
.ctaOutline:hover {
    background: linear-gradient(90deg, #9b6f5f, #cf9150);
    color: #fff;
}

.ctaFilled {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background: linear-gradient(90deg, #9b6f5f, #cf9150);
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s, opacity 0.3s;
}
.ctaFilled:hover {
    opacity: 0.8;
}

.rightSlider {
    /*min-height: 300px;*/
    width: 23rem;
    height: 23rem;
}

.smallImages {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.smallImageItem {
    border-radius: 4px;
}

.coffeeCup {
    width: 40rem;
    height: auto;
}

